.footer {
  width: 100%;
  width: 1024px;
  font-size: 12px;
}

.footer__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.footer__lists {
  list-style: none;
  padding: 0;
}

.footer__list__item {
  margin-bottom: 10px;
  color: #003580;
  cursor: pointer;
}